@import './node_modules/mobi.css/src/mobi';

/* public */

$splitLineColor: #E5E5E5;
$hoverColor: rgba(0, 0, 0, 0.1);
$transparentColor: rgba(0, 0, 0, 0);
$disableThemeColor: #C8C8C8;
body {
    background-color: #EFEFEF;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}

ul,
li,
dl,
dt,
dd {
    list-style: none;
}

.active-block {
    color: #ffffff;
}

.animation-quick {
    transition: all 0.1s ease;
}

.animation {
    transition: all 0.3s ease;
}

.animation-slow {
    transition: all 0.8s ease;
}

.animation-switch {
    transition: all 0.4s ease;
}

.bg_hover {
    height: 100% !important;
    overflow: hidden !important;
}

.testSpan {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0 5px;
}


/* panel */

.disabled .panel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.disabled {
    .panel {
        background: #F4F4F4;
        color: $disableThemeColor;
        .panel-title {
            color: $disableThemeColor;
        }
    }
    .active-block,
    .theme-block {
        background: $disableThemeColor;
    }
    .theme-border,
    .active-border {
        border-color: $disableThemeColor;
    }
    .theme-text,
    .active-text,
    .theme-text {
        color: $disableThemeColor;
    }
    .theme-border-in-after::after {
        border-color: $disableThemeColor;
    }
    .theme-block-in-after::after {
        background-color: $disableThemeColor
    }
    .theme-text-in-after::after {
        color: $disableThemeColor
    }
}

.panel {
    position: relative;
    background-color: #ffffff;
    margin: 4px;
    border-radius: 4px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.panel.no-margin {
    margin: 0px;
}

.panel.no-border-radius {
    border-radius: 0;
}

.panel-title {
    // height: 48px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 48px;
    font-size: 16px;
    color: #464646;
    .value {
        margin-left: 8px;
    }
}

.ui_wrap {
    flex-wrap: wrap;
}

.ui_wrap div[class~="unit-1-4"],
.ui_wrap div[class~="unit-1-3"] {
    //height: 6rem;
    //border: 1px solid #eee;
}

.ui_wrap div[class~="unit-1-4"].disabled,
.ui_wrap div[class~="unit-1-3"].disabled {
    opacity: 0.5;
}

.ui_wrap div[class~="unit-1-4"] .mode_name,
.ui_wrap div[class~="unit-1-3"] .mode_name {
    display: block;
    font-size: 1.4rem;
}

.ui_wrap div[class~="unit-1-4"].on {
    //background: #eee;
    //opacity: 0.5;
}

@font-face {
    font-family: 'iconfont';
    /* project id 87760 */
    src: url('https://at.alicdn.com/t/font_svndvyyea8fo5hfr.eot');
    src: url('https://at.alicdn.com/t/font_svndvyyea8fo5hfr.eot?#iefix') format('embedded-opentype'), url('https://at.alicdn.com/t/font_svndvyyea8fo5hfr.woff') format('woff'), url('https://at.alicdn.com/t/font_svndvyyea8fo5hfr.ttf') format('truetype'), url('https://at.alicdn.com/t/font_svndvyyea8fo5hfr.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 26px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.wrap {
    background: #fff;
}

div[class~="unit-0"] {
    //padding: 8px 10px;
    //border-bottom: 1px solid #eee;
}

div[class~="unit-0"].disabled {
    opacity: 0.5;
}

div[class~="unit-0"] .title {
    width: 65%;
    line-height: 30px;
    padding-left: 10px;
}

div[class~="unit-0"] .title .maint {
    font-size: 16px;
    line-height: 30px;
    display: block
}

div[class~="unit-0"] .title .maint_nosub {
    display: block;
    line-height: 40px;
}

div[class~="unit-0"] .title .sub {
    font-size: 12px;
    line-height: 12px;
    display: block;
}

div[class~="unit-0"] .rightPart {
    width: 35%;
    font-size: 16px;
    line-height: 40px;
    margin-right: 5px;
}

div[class~="unit-0"] .rightPart .rightarrow {
    font-size: 16px;
}


/* Grid Item */

.grid-item {
    @extend .animation-quick;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    border-color: $splitLineColor;
    border-width: 0;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    color: #A6A6A6;
}

.grid-item.active-block {
    color: #ffffff;
}

.disabled {
    .grid-item.active-block {
        color: #A6A6A6;
    }
    .grid-item.active-block {
        background: none;
        border-color: #E5E5E5;
    }
}

.grid-item.no-right-border {
    border-right-width: 0;
}

.grid-item.no-bottom-border {
    border-bottom-width: 0;
}

.grid-item:before {
    @extend .animation;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $transparentColor;
}

.grid-item.grid-item-hover:before {
    background-color: $hoverColor;
}


/* List Item */

.list-item {
    position: relative;
    padding: 8px 10px;
}

.list-item:before {
    @extend .animation;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $transparentColor;
}

.list-item.list-item-hover:before {
    background-color: $hoverColor;
}

.list-item-split-line {
    width: 100%;
    height: 1px;
    background-color: $splitLineColor;
}


/* Swiper Slide */

$defineBorderRaduis: 5px;
.swiper-wrap-normal,
.swiper-wrap-controlpanel,
.swiper-wrap-hasbar,
.swiper-step,
.switch-cell {
    position: relative;
}

.swiper-control {
    margin: 25px 20px;
    position: relative;
}

.swiper-control .inner {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.swiper-control .inner .swiper-track,
.swiper-control .inner .swiper-step-track {
    position: relative;
    top: 2px;
    height: 1px;
    //background: #f00;
    border-radius: $defineBorderRaduis;
}

.swiper-control .inner .swiper-track {
    margin-bottom: 52px;
    .point-container {
        position: absolute;
        top: 1px;
        width: 44px;
        margin-left: -22px;
        height: 65px;
        margin-top: -25px;
        //border: 1px solid #cccccc;
    }
    .point {
        position: absolute;
        top: 25px;
        left: 50%;
        width: 6px;
        height: 6px;
        margin: -3px 0 0 -3px;
        border-radius: 50%;
    }
    .point-container::before {
        content: attr(label);
        position: absolute;
        top: 35px;
        width: 100%;
        text-align: center;
        color: #A6A6A6;
        font-size: 14px;
    }
    .no-points {
        .point {
            display: none;
        }
    }
}

.disabled {
    .swiper-control .inner .swiper-track,
    .swiper-control .inner .swiper-step-track {
        .point-container::before {
            color: $disableThemeColor;
        }
    }
}

.swiper-control .inner .swiper-step-track {}

.swiper-control .inner .swiper-step-track li {
    width: 100%;
}

.swiper-control .inner .swiper-step-track li:first-child::before {
    content: '';
    float: left;
    position: relative;
    width: 6px;
    height: 6px;
    left: -3px;
    top: -3px;
    border-radius: 50%;
    //background: green;
}

.swiper-control .inner .swiper-step-track li::after {
    content: '';
    float: right;
    position: relative;
    width: 6px;
    height: 6px;
    left: -3px;
    top: -3px;
    border-radius: 50%;
    background: green;
}

.swiper-control .inner .swiper-thumb {
    //@extend .animation-quick;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #f1f1f1;
    border-width: 2px;
    border-style: solid;
    top: -9px;
    z-index: 2;
    cursor: pointer;
    left: 0;
    margin-left: -12px;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    //transition: transform 0.1s linear;
    //-webkit-transition: transform 0.1s linear;
    background-image: linear-gradient(-180deg, #FEFFFF 0%, #F6F1F1 100%);
}


/*
.swiper-control .inner .swiper-thumb::before {
    position: absolute;
    content: attr(data-content);
    left: 0;
    bottom: -24px;
    width: 100px;
    text-align: center;
    margin-left: -38px;
    font-size: 15px;
    color: #A6A6A6;
    line-height: 20px;
}
*/

.swiper-control .inner .swiper-num {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #A6A6A6;
    line-height: 20px;
}

.swiper-control .inner .swiper-num2 {
    margin-top: 15px;
    color: #464646;
    font-size: 12px;
    width: 120%;
    margin-left: -10%;
    text-align: center;
}

.contorlPanel {
    width: 120px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.contorlPanel {
    span {
        width: 50px;
        padding: 2px 15px;
        border: 1px solid $splitLineColor;
        border-radius: 10px;
        text-align: center;
        border-radius: 33px;
    }
    .plus-button {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .minus-button {
        border-left: none;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}


/* Switch Cell */

.switch-control {
    padding: 0 12px;
    margin: 10px 0;
}

.switch-title {
    line-height: 52px;
    width: 86%;
}

.switch-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 45px;
}

.switch-btn.on {
    background: rgb(255, 102, 0);
    color: #fff;
}

.switch-btn-main {
    position: relative
}

input[type='checkbox'] {
    display: none;
}

.switch-cell-label-power {
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #ccc;
    position: relative;
    top: 4px;
    text-align: center;
    line-height: 45px;
    @extend .animation;
}

input[type='checkbox']:checked+label[for="switch-cell-jd"] {
    //background: rgb(255, 102, 0);
    //color: #fff;
}

.switch-cell-label-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 36px;
    position: relative;
    top: 11px;
    @extend .animation-switch;
}

.switch-cell-label-switch::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 12px;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
    display: block;
    background: #cccccc;
    border-radius: 50%;
    //box-shadow: 0 0 2px #eee;
    @extend .animation-switch;
}

input.switch-cell-label-power:checked,
label.switch-cell-label-switch.checked {
    //background: #9FD6AE
}

input[type='checkbox']:checked,
label.switch-cell-label-switch.checked::after {
    left: 46px;
}


/*time scroll*/

.scrollLine {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 250px;
}

.scrollLine ul {
    padding: 0;
    width: 100%;
    margin-top: 0;
    overflow: hidden;
    height: 200px;
}

.scrollLine li {
    padding: 0;
    text-align: center;
    line-height: 28px;
    font-size: 20px;
}

.scrollLine li.active {
    font-size: 24px;
}

.scrollLine .topMask {
    width: 100%;
    height: 110px;
    position: absolute;
    top: 0;
    background: -moz-linear-gradient( top, #f1f1f1, #fff);
    background: -webkit-linear-gradient(top, #f1f1f1, #fff);
    opacity: 0.9;
    border-bottom: 1px solid #ccc;
}

.scrollLine .bottomMask {
    width: 100%;
    height: 110px;
    position: absolute;
    bottom: 0;
    background: -moz-linear-gradient( bottom, #f1f1f1, #fff);
    background: -webkit-linear-gradient(bottom, #f1f1f1, #fff);
    opacity: 0.9;
    border-top: 1px solid #ccc;
}


/*confirm toast*/

.confirmHover {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(75, 75, 75, 0.65) !important;
    z-index: 998;
    top: 0;
    left: 0;
    display: none;
}

.confirmWrap {
    width: 250px;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    left: 50%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 2px #ccc;
    z-index: 999;
}

.confirmWrap {
    .cfm_main {
        padding: 10px;
    }
    .cfm_title {
        text-align: center;
    }
    .cfm_content {
        padding: 20px 0;
        font-size: 12px;
    }
    .cfm_btnWrap {
        position: relative;
    }
    .cfm_btnWrap span {
        width: 100%;
        text-align: center;
        line-height: 40px;
        border-top: 1px solid #eee;
    }
    .cfm_btnWrap span:first-child {
        border-bottom-left-radius: 10px;
    }
    .cfm_btnWrap span:last-child {
        border-bottom-right-radius: 10px;
        border-left: 1px solid #eee;
    }
}

.hovers {
    background: #eee;
}


/*---------------------方向盘----------------------*/

.control_main {
    height: 25rem;
}

.control_main .remote_control {
    width: 22rem;
    height: 22rem;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    top: 18px;
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
}

.control_main .remote_control .control_btn,
.control_main .remote_control .centerBtn {
    position: absolute;
    width: 11rem;
    height: 11rem;
    border: 1px solid #19D2ED;
    z-index: 1;
    text-align: center;
    line-height: 11rem;
}

.control_main .remote_control .control_btn span,
.control_main .remote_control .centerBtn span {
    display: block;
    transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
    font-size: 32px;
    color: #19D2ED;
}

.control_main .remote_control .control_btn.taping,
.control_main .remote_control .centerBtn.taping {
    background: #eee !important;
    transition: background 0.5s ease-out !important;
}

.topBtn {
    -webkit-border-radius: 11rem 0 0 0;
    -moz-border-radius: 11rem 0 0 0;
    border-radius: 11rem 0 0 0;
    top: 0;
    left: 0;
}

.leftBtn {
    -webkit-border-radius: 0 0 0 11rem;
    -moz-border-radius: 0 0 0 11rem;
    border-radius: 0 0 0 11rem;
    left: 0;
    bottom: 0;
}

.bottomBtn {
    -webkit-border-radius: 0 0 11rem 0;
    -moz-border-radius: 0 0 11rem 0;
    border-radius: 0 0 11rem 0;
    right: 0;
    bottom: 0;
}

.rightBtn {
    -webkit-border-radius: 0 11rem 0 0;
    -moz-border-radius: 0 11rem 0 0;
    border-radius: 0 11rem 0 0;
    right: 0;
    top: 0;
}

.control_main .remote_control .centerBtn {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    background: #fff;
    left: 5.5rem;
    top: 5.5rem;
    z-index: 2;
}

.control_main .remote_control .centerBtn span {
    font-size: 40px;
}


/*----------------Selector----------------*/

#selectorWrap {
    position: relative;
    .title {
        line-height: 50px;
        padding-left: 10px;
    }
    .container_selector_wrap {
        position: relative;
        height: 250px;
        text-align: center;
        overflow: hidden;
    }
    .container_selector_line {
        position: relative;
        display: inline-block;
        li {
            width: 100px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            display: block;
        }
    }
    .container_selector_topShadow,
    .container_selector_bottomShadow {
        position: absolute;
        width: 100%;
        height: 75px;
        opacity: 0.5;
        z-index: 10;
    }
    .container_selector_topShadow {
        top: 0;
        background: linear-gradient( to bottom, #fff, #eee);
    }
    .container_selector_bottomShadow {
        bottom: 0;
    }
    .container_selector_selectbox_selected {
        position: absolute;
        width: 100%;
        height: 100px;
        border: 1px solid #eee;
        top: 75px;
        border-left: none;
        border-right: none;
    }
}