@import 'mobi.css/src/mobi';


/* public */

$splitLineColor : #E5E5E5;
$hoverColor : rgba(0,0,0,0.1);
$transparentColor : rgba(0,0,0,0);
$defineBorderRaduis : 10px;
body {
    background-color: #F0F0F0;
}


.active-block {
    color: #ffffff;
}

.animation-quick {
    transition: all 0.3s ease;
}

.animation {
    transition: all 0.3s ease;
}

.animation-slow {
    transition: all 0.8s ease;
}

/* panel */


.panel {
    background-color: #ffffff;
    margin: 8px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08);

    overflow: hidden;
}

.panel-title {
    height: 48px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 48px;
    font-size: 16px;
    color: #464646;

}

.ui_wrap{
    flex-wrap: wrap;
}

.ui_wrap div[class~="unit-1-4"],.ui_wrap div[class~="unit-1-3"]{
    //height: 6rem;
    //border: 1px solid #eee;
}

.ui_wrap div[class~="unit-1-4"].disabled ,.ui_wrap div[class~="unit-1-3"].disabled{
    opacity: 0.5;
}

.ui_wrap div[class~="unit-1-4"] .mode_name , .ui_wrap div[class~="unit-1-3"] .mode_name{
    display: block;
    font-size: 1.4rem;
}

.ui_wrap div[class~="unit-1-4"].on{
    //background: #eee;
    //opacity: 0.5;
}

@font-face {
  font-family: 'iconfont';  /* project id 87760 */
  src: url('https://at.alicdn.com/t/font_wvk3lvzrfk9y66r.eot');
  src: url('https://at.alicdn.com/t/font_wvk3lvzrfk9y66r.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_wvk3lvzrfk9y66r.woff') format('woff'),
  url('https://at.alicdn.com/t/font_wvk3lvzrfk9y66r.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_wvk3lvzrfk9y66r.svg#iconfont') format('svg');
}

.iconfont{
    font-family: "iconfont" !important;
    font-size:26px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.wrap{
    background: #fff;
}

div[class~="unit-0"]{
    //padding: 8px 10px;
    //border-bottom: 1px solid #eee;
}
div[class~="unit-0"].disabled{
    opacity: 0.5;
}
div[class~="unit-0"] .title{
    width: 65%;
    line-height: 30px;
    padding-left: 10px;
}
div[class~="unit-0"] .title .maint{
    font-size: 16px;
    line-height: 30px;
    display: block
}
div[class~="unit-0"] .title .maint_nosub{
    display: block;
    line-height: 40px;
}
div[class~="unit-0"] .title .sub{
    font-size: 12px;
    line-height: 12px;
    display: block;
}

div[class~="unit-0"] .rightPart{
    width:25%;
    font-size: 16px;
    line-height: 40px;
}
div[class~="unit-0"] .rightPart .rightarrow{
    font-size: 16px;
}

/* Grid Item */
.grid-item {
    @extend .animation-quick;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    border-color: $splitLineColor;
    border-width: 0;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
}
.grid-item.no-right-border {
    border-right-width: 0;
}
.grid-item.no-bottom-border {
    border-bottom-width: 0;
}
.grid-item:before {
    @extend .animation;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $transparentColor;
}
.grid-item.grid-item-hover:before {
    background-color: $hoverColor;
}

/* List Item */
.list-item {
    position: relative;
    padding: 8px 10px;
}
.list-item:before {
    @extend .animation;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $transparentColor;
}
.list-item.list-item-hover:before {
    background-color: $hoverColor;
}

.list-item-split-line {
    width: 100%;
    height: 1px;
    background-color: $splitLineColor;
}

/* Swiper Slide */
.swiper-wrap-normal , .swiper-wrap-controlpanel{
    position: relative;
}

.swiper-control{
    width: 96%;
    margin: 25px 2%;
    position: relative;
}

.swiper-control .swiper-track{
    position: relative;
    width: 100%;
    height: 5px;
    background: #f00;
    border-radius: $defineBorderRaduis;
}

.swiper-control .swiper-thumb{
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #f1f1f1;
    top:-9px;
    z-index: 2;
    cursor: pointer;
}
.swiper-control .swiper-thumb::before{
    content: attr(data-content);  //here
    font-size: 12px;
    left: 5px;
    top: -20px;
    position: absolute;
}
.swiper-control .swiper-num{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    color:#464646;
}

.contorlPanel{
    width: 120px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.contorlPanel span{
    width: 50px;
    padding: 2px 15px;
    border: 1px solid $splitLineColor;
    border-radius: 10px;
    margin: 0 5px;
    text-align: center;
}