@import 'mobi.css/src/mobi';

/* public */

$splitLineColor: #E5E5E5;
$hoverColor: rgba(0, 0, 0, 0.1);
$transparentColor: rgba(0, 0, 0, 0);
body {
    background-color: #F0F0F0;
}
ul,li,dl,dt,dd{
    list-style: none;
}

.active-block {
    color: #ffffff;
}

.animation-quick {
    transition: all 0.1s ease;
}

.animation {
    transition: all 0.3s ease;
}

.animation-slow {
    transition: all 0.8s ease;
}
.animation-switch{
    transition: all 0.4s ease;
}

/* panel */

.panel {
    background-color: #ffffff;
    margin: 8px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.panel-title {
    height: 48px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 48px;
    font-size: 16px;
    color: #464646;
}

.ui_wrap {
    flex-wrap: wrap;
}

.ui_wrap div[class~="unit-1-4"],
.ui_wrap div[class~="unit-1-3"] {
    //height: 6rem;
    //border: 1px solid #eee;
}

.ui_wrap div[class~="unit-1-4"].disabled,
.ui_wrap div[class~="unit-1-3"].disabled {
    opacity: 0.5;
}

.ui_wrap div[class~="unit-1-4"] .mode_name,
.ui_wrap div[class~="unit-1-3"] .mode_name {
    display: block;
    font-size: 1.4rem;
}

.ui_wrap div[class~="unit-1-4"].on {
    //background: #eee;
    //opacity: 0.5;
}

@font-face {
  font-family: 'iconfont';  /* project id 87760 */
  src: url('https://at.alicdn.com/t/font_svndvyyea8fo5hfr.eot');
  src: url('https://at.alicdn.com/t/font_svndvyyea8fo5hfr.eot?#iefix') format('embedded-opentype'),url('https://at.alicdn.com/t/font_svndvyyea8fo5hfr.woff') format('woff'),url('https://at.alicdn.com/t/font_svndvyyea8fo5hfr.ttf') format('truetype'),url('https://at.alicdn.com/t/font_svndvyyea8fo5hfr.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 26px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.wrap {
    background: #fff;
}

div[class~="unit-0"] {
    //padding: 8px 10px;
    //border-bottom: 1px solid #eee;
}

div[class~="unit-0"].disabled {
    opacity: 0.5;
}

div[class~="unit-0"] .title {
    width: 65%;
    line-height: 30px;
    padding-left: 10px;
}

div[class~="unit-0"] .title .maint {
    font-size: 16px;
    line-height: 30px;
    display: block
}

div[class~="unit-0"] .title .maint_nosub {
    display: block;
    line-height: 40px;
}

div[class~="unit-0"] .title .sub {
    font-size: 12px;
    line-height: 12px;
    display: block;
}

div[class~="unit-0"] .rightPart {
    width: 25%;
    font-size: 16px;
    line-height: 40px;
}

div[class~="unit-0"] .rightPart .rightarrow {
    font-size: 16px;
}


/* Grid Item */

.grid-item {
    @extend .animation-quick;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    border-color: $splitLineColor;
    border-width: 0;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    color: #A6A6A6;
}

.grid-item.active-block {
    color: #ffffff;
}

.grid-item.no-right-border {
    border-right-width: 0;
}

.grid-item.no-bottom-border {
    border-bottom-width: 0;
}

.grid-item:before {
    @extend .animation;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $transparentColor;
}

.grid-item.grid-item-hover:before {
    background-color: $hoverColor;
}


/* List Item */

.list-item {
    position: relative;
    padding: 8px 10px;
}

.list-item:before {
    @extend .animation;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $transparentColor;
}

.list-item.list-item-hover:before {
    background-color: $hoverColor;
}

.list-item-split-line {
    width: 100%;
    height: 1px;
    background-color: $splitLineColor;
}


/* Swiper Slide */

$defineBorderRaduis: 5px;
.swiper-wrap-normal,
.swiper-wrap-controlpanel,
.swiper-wrap-hasbar,
.swiper-step,
.switch-cell {
    position: relative;
}

.swiper-wrap-normal.disabled,
.swiper-wrap-controlpanel.disabled,
.swiper-wrap-hasbar.disabled,
.swiper-step.disabled,
.switch-cell.disabled{
    opacity: 0.5;
}

.disabled{
    opacity: 0.5;
}

.swiper-control {
    margin: 25px 20px;
    position: relative;
}
.swiper-control .inner{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.swiper-control .inner .swiper-track , .swiper-control .inner .swiper-step-track {
    position: relative;
    top: 2px;
    height: 1px;
    //background: #f00;
    border-radius: $defineBorderRaduis;
}
.swiper-control .inner .swiper-step-track{
    background: #ccc;
}
.swiper-control .inner .swiper-step-track li{
    width: 20%;
}

.swiper-control .inner .swiper-step-track li:first-child::before{
    content: '';
    float: left;
    width: 5px;
    height: 5px;
    background:green;
}

.swiper-control .inner .swiper-step-track li::after{
    content: '';
    float: right;
    width: 5px;
    height: 5px;
    background:green;
}

.swiper-control .inner .swiper-thumb {
    @extend .animation-quick;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #f1f1f1;
    border-width: 2px;
    border-style: solid;
    top: -9px;
    z-index: 2;
    cursor: pointer;
    left: 0;
    margin-left: -12px;
    background-image: linear-gradient(-180deg, #FEFFFF 0%, #F6F1F1 100%);
}

.swiper-control .inner .swiper-thumb::before {
    position: absolute;
    content: attr(data-content);
    left: 0;
    bottom: -24px;
    width: 100px;
    text-align: center;
    margin-left: -38px;
    font-size: 15px;
    color: #A6A6A6;
    line-height: 20px;
}

.swiper-control .inner .swiper-num {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #A6A6A6;
    line-height: 20px;
}

.swiper-control .inner .swiper-num2{
    margin-top: 15px;
    color: #464646;
    font-size: 12px;
    width: 120%;
    margin-left: -10%;
    text-align: center;
}

.contorlPanel {
    width: 120px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.contorlPanel {
    span {
        width: 50px;
        padding: 2px 15px;
        border: 1px solid $splitLineColor;
        border-radius: 10px;
        text-align: center;
        border-radius: 33px;
    }

    .plus-button {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .minus-button {
        border-left: none;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}

/* Switch Cell */
.switch-control{
    padding-left: 12px;
    padding-right: 12px;
    margin: 10px 0;

}
.switch-title{
    line-height: 52px;
    width: 86%;
}
.switch-btn{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 45px;
}
.switch-btn.on{
    background: rgb(255, 102, 0);
    color:#fff;
}

.switch-btn-main{
   position: relative
}

input[type='checkbox']{
    display: none;
}

label[for="switch-cell-jd"]{
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
    border:1px solid #ccc;
    position: relative;
    top:4px;
    text-align: center;
    line-height: 45px;
    @extend .animation;
}
input[type='checkbox']:checked+label[for="switch-cell-jd"]{
    background:rgb(255, 102, 0);
    color: #fff;
}



label[for="switch-cell-ali"]{
    display: inline-block;
    width: 60px;
    height: 30px;
    border:1px solid #ccc;
    border-radius: 30px;
    position: relative;
    top: 11px;
    background: #f0f0f0;
    @extend .animation-switch;
}
label[for="switch-cell-ali"]::after{
    display: block;
    position: relative;
    content:'';
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    left: 0;
    @extend .animation-switch;
    box-shadow: 0 0 2px #eee;
}

input[type='checkbox']:checked + label[for='switch-cell-ali']{
    background:#9FD6AE
}
input[type='checkbox']:checked + label[for='switch-cell-ali']::after{
    left:50%;
}